{#
/**
 * @file authority_panel.html.twig
 * Default theme implementation to present Authority Panel data.
 *
 * This template is used when viewing Authority Panel pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_authority_panel()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('authority_panel') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
